@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: url('/Utopia/img/dartboard.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#fff;
  background-color:#eee;
  font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
  overflow-y:scroll;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.mainHeading{
  min-height: 200px; 
  font-family: serif;
  font-size: 5em;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.blockCol {
    display: table;
    width: 100%;
}
.login {
    float: none;
    display: table-cell;
    border-right: 1px solid #AAA;
}

.signup {
    float: none;
    display: table-cell;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #222222;
  color: gray;
  padding-top: 20px;
  margin-top: 20px;
  box-shadow: 0px -3px 3px 2px rgba(0, 0, 0, 0.3);
}

.footer-links, .footer-links:hover, .footer-links:active, .footer-links:focus {
  color: gray;
}

.shadowBG{
  border-radius: 10px;
  margin-top:15px; 
  margin-bottom: 80px; 
  padding: 15px;
  background-color: rgba(55,55,55,0.9);
  box-shadow: -5px 4px 8px -5px rgba(0, 0, 0, 0.3), 0 6px 10px 0 rgba(0, 0, 0, 0.4);
  /* display: none; */
}

.main{
  margin-top:50px ;
  margin-bottom: 80px; 
  background-color: rgba(22,22,22,0.7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.right-align {
    float: right;
}

@media screen and (max-width: 767px) {
    .footer{
        height: 85px;
    }

    .shadowBG{
        margin-bottom: 100px;
    }

    .main{
        margin-bottom: 100px;
    }

    .right-align {
        float: none;
    }
}

